.articleContainer {
    font-family: Inter;
    font-size: 120%;
    padding: 0 10rem 0 10rem;
}

.header {
    text-align: center;
    padding: 9rem 9rem 2rem 9rem;
    font-family: Slim-Joe;
}

.title {
    font-size: 300%;
    padding: 1.5rem;
    animation: flashLights 3s ease;
    animation-iteration-count: infinite;
    color: var(--primary-color);
    display: inline;
    border-bottom: 2px solid var(--secondary-color);
}

.info {
    font-size: 65%;
    padding: 3rem 6rem 0 6rem;
    font-family: Inter;
}

@keyframes flashLights {
    0% {
        text-shadow: none;
    }

    6% {
        text-shadow: 12px 12px 15px var(--primary-color);
    }
    8% {
        text-shadow: none;
    }
    10% {
        text-shadow: 12px 12px 15px var(--primary-color);
    }
   
    100% {
        text-shadow: 12px 12px 15px var(--primary-color);
    }
}