.container {
    height: 100%;
    text-align: center;
    padding-top: 8rem;
    margin-bottom: 3rem;
}

.blogTitle {
    font-size: 450%;
    color: var(--primary-color);
    padding: 1rem;
    border-bottom: solid 2px var(--secondary-color);
}

@media screen and (max-width: 1025px) { 
    .blogTitle {
        font-size: 250%;
    }
}