.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-areas: 
        "title"
        "social";
}

.title {
    font-size: 550%;
    text-shadow: 12px 12px 15px #fff;
    text-align: center;
}

.firstName {
    color: #ff00c3;
    text-shadow: 12px 12px 15px #ff00c3;
    animation: flashLights 3s ease;
    animation-iteration-count: infinite;
}

.lastName {
    color:rgb(2, 204, 255);
    text-shadow: 12px 12px 15px rgb(2, 204, 255);
}


.openingDiv {
    margin-top: 5rem;
}

.text {
    text-align: center;
    font-size: 150%;
    width: 50rem;
}

.socialMediaWrapper {
    display: flex;
    justify-content: center;    
    grid-area: social;
    padding: 0;
}

.logo {
    width: 30pt;
    height: 30pt;
    margin: 0 2rem 0 2rem;
    display: inline;
}

.pfpContainer {
    text-align: center;
}

.pfp {
    border-radius: 20%;
    width: 280px;
    height: 280px;
    margin-top: 5rem;
}

@keyframes flashLights {
    0% {
        text-shadow: none;
    }

    6% {
        text-shadow: 12px 12px 15px #ff00c3;
    }
    8% {
        text-shadow: none;
    }
    10% {
        text-shadow: 12px 12px 15px #ff00c3;
    }
   
    100% {
        text-shadow: 12px 12px 15px #ff00c3;
    }

}

@media screen and (max-width: 1025px) { 
    .title {
        font-size: 250%;
        margin-bottom: 3rem;
    }    

    .text {
        font-size: 110%;
        width: 20rem;
    }

    .pfp {
        height: 170px;
        width: 170px;
        margin-top: 5rem;
    }

    .logo {
        width: 25pt;
        height: 25pt;
    }


}