.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 550%;
}

.firstName {
    color: #ff00c3;
}

.pfp {
    margin: auto;
    border-radius: 20%;
}

.socialMediaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    text-align: center;
}

.logo {
    width: 30pt;
    height: 30pt;
    margin: 0 1rem 0 1rem;
    display: inline;
}