.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 450%;
    margin-top: -4rem;
}

.firstName {
    color: #ff00c3;
}

.pfp {
    margin: auto;
    border-radius: 20%;
}