.navList {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100vw;
}

.navElement {
    margin: 0 2rem 0 2rem;
    font-size: 160%;
}

.navElement:hover {
    color: rgb(156, 154, 154);
}

