.navList {
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100vw;
    margin-bottom: 3rem;
    background-color: rgb(14, 13, 13);
    height: 6rem;
    z-index: 100;
}

.navElement {
    flex-grow: 1;
    flex-basis: 0;
    height: 3rem;
    margin-top: .5rem;
}

.link {
    padding: 12px 20px 12px 20px;
    border-radius: 15px;
    font-size: 160%;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    cursor: pointer;
    transition: 200ms ease;
}

.link:hover {
    background-color: rgba(114, 114, 114, 0.6);
}


