.container {
    height: 100vh;
    text-align: center;
}

.projectContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projTitle {
    font-size: 350%;
    padding: 1rem;
    border-bottom: solid 2px #fff;
}

.projCardDiv {
    display: grid;
    grid-template-areas: 
        "proj1 proj2"
        "proj3 proj4";
}